DOMAIN_NAME=<your_login>.42.fr
MYSQL_HOST=mariadb
MYSQL_DATABASE=wordpress
MYSQL_USER=<db_user>
WP_TITLE=<site_title>
WP_ADMIN_USER=abbouras
WP_ADMIN_EMAIL=<admin_email>
WP_USER=<user_login>
WP_USER_EMAIL=<user_email>
