[mysqld]
# Port standard MariaDB
port        = 3306

# Accepte les connexions depuis n'importe quelle IP du réseau Docker
# Sans ça MariaDB n'écoute que sur localhost et WordPress ne peut pas s'y connecter
bind-address = 0.0.0.0

# Dossier où MariaDB stocke les fichiers de la base de données
# C'est ce dossier qui sera monté sur le volume pour persister les données
datadir     = /var/lib/mysql
